<header>
  <div class="contenedor-salir">
    <button class="botonInfo" (click)="verInfo()">
      Secretaria Particular <i class="fa-solid fa-user"></i>
    </button>
    <button class="cerrar-sesion">
      Cerrar sesion <i class="fa-solid fa-power-off"></i>
    </button>
  </div>
</header>

<hr />

<nav class="menu-list">
  <div class="menu">
    <button (click)="menuInicio()">
      Inicio <i class="fa-solid fa-house"></i>
    </button>
    <button (click)="menuTurnar()">
      Turnar <i class="fa-solid fa-share"></i>
    </button>
    <button (click)="menuGenerar()">
      Generar Doc <i class="fa-solid fa-file-pen"></i>
    </button>
    <button (click)="menuVerDocs()">
      Ver documentos <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
</nav>

<!-- *************** INICIO ***************-->
<!-- OFICIOS EMITIDOS -->
<div id="container-inicio" *ngIf="mostrarInicio">
  <section id="contenedor-info">
    <article class="contenedor-oficios">
      <h3>Oficios emitidos:</h3>
      <div class="oficios"></div>
      <label for="oficios"
        >Elija el departamento para ver los oficios que ha emitido:
      </label>
      <form action="departamentos">
        <select name="departamentos" id="departamentos">
          <option value="secretarias">Secretarías</option>
          <option value="subsecretarias">Subsecretarías</option>
          <option value="direcciones">Direcciones</option>
        </select>
      </form>
    </article>

    <!-- ALMACENAR OFICIOS -->
    <article class="contenedor-almacen">
      <h3>Almacenar oficios</h3>
      <div class="almacen">
        <form action="almacenar-oficios">
          <div class="content-form1">
            <label for="tipo-oficio"
              >Selecciona el tipo de oficio:
              <select name="tipo-oficio" id="tipo-oficio">
                <option value="internos">Internos</option>
                <option value="externos">Externos</option>
                <option value="circulares">Circulares</option>
              </select>
            </label>
            <br />
            <label for="no-oficio" id="text-no-oficio"
              >No. oficio:
              <input
                type="number"
                name="no-oficio"
                id="no-oficio"
                required="true"
                placeholder="ejem. 20"
            /></label>
            <img
              src="https://michoacan.gob.mx/corry/logos/escudo-Gray.png"
              alt="escudo"
              class="escudo-sedecoSP"
              width="200px"
              height="200px"
            />
            <br />
            <label for="fecha" id="text-fecha"
              >Fecha:
              <input type="date" id="fecha" name="fecha" required="true" />
            </label>
            <label for="secretarias-almacen"
              >Elija una opcion:
              <select name="secretarias-almacen" id="oficios-select">
                <option value="secretarias">Secretarias</option>
                <option value="subsecretarias">Subsecretarias</option>
                <option value="Direcciones">Direcciones</option>
              </select>
            </label>

            <!-- 
                  COLOCAR NOMBRE PARTICULAR DE CADA UNO DE LOS DEPARTAMENTOS
                  <label for="secretarias-almacen"
                  >Elija una opcion:
                  <select name="secretarias-almacen" id="oficios-select">
                    <option value="secretarias">Secretarias</option>
                    <option value="subsecretarias">Subsecretarias</option>
                    <option value="Direcciones">Direcciones</option>
                  </select>
                </label> -->

            <label for="secretarias-almacen">Encargado:</label>
            <br />
            <label for="archivo"
              >Cargar archivo:
              <input
                name="archivo"
                id="archivo"
                type="file"
                placeholder="Archivo"
            /></label>
          </div>

          <input class="btn-cargar" type="submit" value="Cargar" />
        </form>
      </div>
    </article>
  </section>
</div>

<!-- *************** TURNAR ***************-->
<!-- TURNAR -->
<div id="container-turnar" *ngIf="mostrarTurnar">
  <section id="turnar-documentos">
    <div class="contenedor-turnar-documentos">
      <h1>Turnar Documentos</h1>
      <div class="contenedor-turnar-documentos2">
        <form action="turnar-doc">
          <h2>Elige un documento</h2>
          <div class="doc">
            <p>Aqui iran todos los documentos</p>
          </div>

          <div class="contenedor-form-turnarSP">
            <label for="departamentos"
              >Elija el departamento:
              <select name="departamentos" id="subdepartamentos">
                <option value="secretarias">Secretarias</option>
                <option value="subsecretarias">Subsecretarias</option>
                <option value="direcciones">Direcciones</option>
              </select>
            </label>

            <label for="tipo-oficio" class="tipo-oficio"
              >Selecciona una de las opciones:
              <select name="tipo-oficio" id="tipo-oficio">
                <option value="comercio">Comercio internacional</option>
                <option value="trabajo-prevision">
                  Trabajo y prevision social
                </option>
              </select>
            </label>

            <label for="tipo-oficio" class="tipo-oficio"
              >Elige el tipo de documento
              <select name="tipo-oficio" id="tipo-oficio">
                <option value="internos">Internos</option>
                <option value="externos">Externos</option>
                <option value="circulares">Circulares</option>
              </select>
            </label>
            <br />
            <br />
            <label for="archivo" class="cargar-archivo"
              >Cargar archivo:
              <input
                name="archivo"
                id="archivo"
                type="file"
                placeholder="Archivo"
            /></label>
          </div>

          <input type="submit" value="Turnar" class="btn-turnar" />
        </form>
      </div>
    </div>
  </section>
</div>

<!-- *************** GENERAR DOC ***************-->
<div id="container-generarDoc" *ngIf="mostrarGenerar">
  <!-- GENERAR DOC -->
  <section id="container-generar-doc">
    <div class="contenedor-doc">
      <h2>Generar documento</h2>
      <form action="generar-doc">
        <label for="tipoDoc">Elija el tipo de documento</label>
        <br />
        <select name="tipoDoc" id="tipoDoc">
          <option value="internos">Internos</option>
          <option value="externos">Externos</option>
          <option value="circulares">Circulares</option>
        </select>

        <!-- PLANTILLAS -->
        <div class="plantillas"></div>

        <input
          type="submit"
          class="button-doc-deshacer"
          value="Deshacer Cambios"
        />
        <input type="submit" class="button-doc-save" value="Descargar" />
      </form>
    </div>
  </section>
</div>

<!-- *************** VER DOCS ***************-->
<div id="container-verDocs" *ngIf="mostrarVerDocs">
  <section id="container-ver-docs">
    <div class="container-ver-docs">
      <form class="buscar" action="buscar">
        <input type="search" class="search" placeholder="Buscar" />
      </form>

      <table>
        <caption>
          <h2>Documentos</h2>
        </caption>
        <tr>
          <th>No. de oficio</th>
          <th>Fecha</th>
          <th>Encargado</th>
          <th>Departamento</th>
          <th>Documento</th>
        </tr>
        <tr>
          <td>4789</td>
          <td>20/08/2022</td>
          <td>Ing. Mariana Juarez</td>
          <td>Delegacion administrativa</td>
          <td>documento1.pdf</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>

      <form action="guardar-doc-anio">
        <input
          id="save-docs-anual"
          type="submit"
          value="Guardar Documentacion del año"
          disabled
        />

        <label for="confirm"
          >Confirmar
          <input
            type="checkbox"
            id="confirm"
            name="confirm"
            value="documents"
          />
        </label>
      </form>

      <br />
      <!-- Botones editar y borrar -->
      <form action="CRUD">
        <input type="submit" value="Borrar" />
        <input type="submit" value="Editar" />

        <label for="tipoDoc"
          >Selecciona el tipo de oficio:
          <select name="tipoDoc" id="tipoDoc">
            <option value="internos">Internos</option>
            <option value="externos">Externos</option>
            <option value="circulares">Circulares</option>
          </select>
        </label>

        <label for="departamento"
          >Selecciona el departamento:
          <select name="departamentoSP" id="departamentoSP">
            <option value="secretarias">Secretarias</option>
            <option value="subsecretarias">Subsecretarias</option>
            <option value="Direcciones">Direcciones</option>
          </select>
        </label>

        <label for="nombre-depto-SP"
          >Selecciona el departamento en especifico:
          <select name="nombre-depto-SP" id="nombre-depto-SP">
            <option value="comercio">Comercio internacional</option>
            <option value="prevision-social">Trabajo y prevision social</option>
          </select>
        </label>
      </form>
      <br />
      <div class="docs-anuales">
        <button (click)="verDocsA()">Ver documentos anuales</button>
      </div>
    </div>
  </section>
</div>

<!-- *************** VER DOCS ANUALES ***************-->
<div id="container-verDocsAnuales" *ngIf="mostrarDocsAnuales">
  <section id="container-ver-docs">
    <div class="container-ver-docs">
      <form class="buscar" action="buscar">
        <input type="search" class="search" placeholder="Buscar" />
      </form>

      <table>
        <caption>
          <h2>Documentaciones guardadas por cada año</h2>
        </caption>
        <tr>
          <th>No. de oficio</th>
          <th>Fecha</th>
          <th>Encargado</th>
          <th>Direccion</th>
          <th>Documento</th>
        </tr>
        <tr>
          <td>49</td>
          <td>22/11/2022</td>
          <td>Lic. Mariana Perez</td>
          <td>Inversiones</td>
          <td>
            <a href="docs/Solicitud 250 correos Finanzas.pdf">documento1.pdf</a>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </section>
</div>

<!-- *************** INFORMACION ***************-->
<div id="info" *ngIf="mostrarInfo">
  <section>
    <div class="container-info">
      <h2>Secretaria Particular</h2>

      <form id="info-depto" name="info-depto">
        <div class="container-form-info">
          <div class="container-infouno">
            <div class="correo">
              <label for="correo">Correo electronico:</label>
              <input
                name="correo"
                id="correo"
                type="text"
                value="secretariaparti@sedeco.gob.mx"
              />
            </div>
            <div class="container-labels">
              <label for="encargado">Encargado:</label>
              <input
                name="encargado"
                id="encargado"
                type="text"
                value="Ing. Federico Borja"
              />
            </div>
          </div>

          <br />

          <div class="container-infodos">
            <label for="password">Contraseña:</label>
            <input
              name="password"
              id="password"
              type="password"
              value="4563363522"
            />
            <div class="container-labels">
              <div class="user">
                <label for="usuario">Usuario:</label>
                <input
                  name="usuario"
                  id="usuario"
                  type="text"
                  value="Secretaria particular"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="container-2">
          <button class="btn-edit-info" type="submit">
            Editar <i class="fa-solid fa-pen-to-square"></i>
          </button>

          <button class="btn-save-info" type="submit">
            Guardar <i class="fa-solid fa-floppy-disk"></i>
          </button>
        </div>
      </form>
    </div>
  </section>
</div>

<footer class="footer">
  <hr />
  <img
    src="https://michoacan.gob.mx/corry/logos/sub/sedeco.png"
    alt="SEDECO"
    width="200px"
    height="90px"
  />
  <h5>SECRETARIA DE DESARROLLO ECONOMICO</h5>
</footer>
