<!-- HEADER -->
<header class="navbar navbar-primary header" style="background-color: #4a001f">
  <a href="#" class="mx-4"
    >Secretaria Particular <i class="fa-solid fa-user"></i
  ></a>
  <a href="#" class="mx-4"
    >Cerrar sesion <i class="fa-solid fa-power-off"></i
  ></a>
</header>

<nav class="menu-list"></nav>
<!-- MENU -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mx-3">
      <a class="nav-item nav-link active" href="#">
        Inicio <i class="fa-solid fa-house"></i
        ><span class="sr-only">(current)</span></a
      >
      <a class="nav-item nav-link" href="#">
        Turnar <i class="fa-solid fa-share"></i
      ></a>
      <a class="nav-item nav-link" href="#"
        >Generar Doc <i class="fa-solid fa-file-pen"></i
      ></a>
      <a class="nav-item nav-link" href="#">
        Ver documentos <i class="fa-solid fa-magnifying-glass"></i
      ></a>
    </div>
  </div>
  <img
    src="https://michoacan.gob.mx/corry/logos/escudo-Gray.png"
    alt="escudo"
    class="mx-3"
    width="50px"
    height="50px"
  />
</nav>

<!-- *************** INICIO ***************-->
<!-- OFICIOS EMITIDOS -->
<div class="container my-4">
  <section class="row">
    <!-- <article>
      <h4>Oficios emitidos:</h4>
    </article> -->

    <!-- ALMACENAR OFICIOS -->
    <article>
      <h3>Almacenar oficios</h3>
      <form>
        <!-- COL 1 -->
        <div class="row">
          <div class="col">
            <select name="tipo-oficio" class="form-control">
              <option value="internos">Internos &raquo;</option>
              <option value="externos">Externos</option>
              <option value="circulares">Circulares</option>
            </select>
          </div>
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Dependencia:"
            />
          </div>
        </div>
        <br />
        <!-- COL 2 -->

        <div class="row">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Sub-dependencia:"
            />
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Oficina:" />
          </div>
        </div>
        <br />
        <!-- COL 3 -->
        <div class="row">
          <div class="col">
            <input
              type="number"
              class="form-control"
              placeholder="No. Oficio:"
            />
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Asunto:" />
          </div>
        </div>
        <br />
        <!-- COL 4 -->
        <div class="row">
          <div class="col">
            <input
              type="date"
              class="form-control"
              placeholder="Fecha de recibido"
            />
          </div>
          <div class="col">
            <input type="file" class="form-control" />
          </div>
          <button
            type="button"
            class="btn btn-success btn-lg btn-block my-4"
            style="background-color: #4a001f"
          >
            Guardar <i class="fa-solid fa-floppy-disk"></i>
          </button>
        </div>
      </form>
    </article>
  </section>
</div>

<!-- *************** TURNAR ***************-->
<!-- TURNAR -->
<!-- <div id="container-turnar" *ngIf="mostrarTurnar">
  <section id="turnar-documentos">
    <div class="contenedor-turnar-documentos">
      <h1>Turnar Documentos</h1>
      <div class="contenedor-turnar-documentos2">
        <form action="turnar-doc">
          <h2>Elige un documento</h2>
          <label for="tipo-oficio-turnar"
            >Selecciona el tipo de oficio:
            <select name="tipo-oficio-turnar" id="tipo-oficio-turnar">
              <option value="internos">Internos</option>
              <option value="externos">Externos</option>
              <option value="circulares">Circulares</option>
            </select>
          </label>
          <div class="doc">
            <p>Aqui iran todos los documentos</p>
          </div>
          <br />
          <div class="contenedor-form-turnarSP">
            <label for="turnar" class="tipo-oficio"
              >Turnar a:
              <select name="turnar" id="turnar">
                <option value="secretario">Secretarío</option>
                <option value="secretaria-tecn">Secretaría Técnica</option>
                <option value="enlace">Enlace Jurídico</option>
                <option value="direccion">Direccion</option>
                <option value="depto">Departamento</option>
              </select>
            </label>

            <br />
            <br />
          </div>

          <input type="submit" value="Turnar" class="btn-turnar" />
        </form>
      </div>
    </div>
  </section>
</div> -->

<!-- *************** GENERAR DOC ***************-->
<!-- <div id="container-generarDoc" *ngIf="mostrarGenerar"> -->
<!-- GENERAR DOC -->
<!-- <section id="container-generar-doc">
    <div class="contenedor-doc">
      <h2>Generar documento</h2>
      <form action="generar-doc">
        <label for="tipoDoc">Tipo de registro:</label>
        <br />
        <select name="tipoDoc" id="tipoDoc">
          <option value="internos">Internos</option>
          <option value="externos">Externos</option>
          <option value="circulares">Circulares</option>
        </select> -->

<!-- PLANTILLAS -->
<!-- <div class="plantillas"></div>

        <input
          type="submit"
          class="button-doc-deshacer"
          value="Deshacer Cambios"
        />
        <input type="submit" class="button-doc-save" value="Descargar" />
      </form>
    </div>
  </section>
</div> -->

<!-- *************** VER DOCS ***************-->
<!-- <div id="container-verDocs" *ngIf="mostrarVerDocs">
  <section id="container-ver-docs">
    <div class="container-ver-docs">
      <form class="buscar" action="buscar">
        <input type="search" class="search" placeholder="Buscar" />
      </form>

      <table>
        <caption>
          <h2>Documentos</h2>
        </caption>
        <tr>
          <th>No. de oficio</th>
          <th>Tipo de oficio</th>
          <th>Titular</th>
          <th>Dependencia</th>
          <th>Documento</th>
        </tr>
        <tr>
          <td>4789</td>
          <td>Circular</td>
          <td>Ing. Mariana Juarez</td>
          <td>Delegacion administrativa</td>
          <td>documento1.pdf</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
      <br />
      <div class="editar-docs">
        <button type="submit">Borrar</button>
        <button class="editDoc" id="btnDocs">Editar</button>
      </div> -->

<!-- editar flotante -->
<!-- <div class="editar ocultar" id="editarFlo">
        <form action="editar-docs">
          <div class="contenedor-editar">
            <button id="cerrar">
              <i class="fa-solid fa-xmark"></i>
            </button>
            <input
              type="text"
              class="input"
              placeholder="Numero de oficio"
              required
            />
            <br />
            <br />
            <input
              type="text"
              class="input"
              placeholder="Tipo de oficio"
              required
            />
            <br />
            <br />
            <input type="text" class="input" placeholder="Titular" required />
            <br />
            <br />
            <input
              type="text"
              class="input"
              placeholder="Dependencia"
              required
            />
            <br />
            <br />
            <input type="file" /> <br />
            <br />
            <button type="submit">Guardar cambios</button>
          </div>
        </form>
      </div>

      <form action="guardar-doc-anio">
        <label for="confirm"
          >Exportar
          <input
            #confirm
            type="checkbox"
            id="confirm"
            name="confirm"
            value="documents"
          />
        </label>
        <button
          #exportarDocs
          id="save-docs-anual"
          class="btnHidden"
          type="button"
        >
          Exportar documentacion
        </button>
      </form>

      <br /> -->
<!-- Botones editar y borrar -->

<!-- <br />
      <div class="docs-anuales">
        <button (click)="verDocsA()">Ver documentos anuales</button>
      </div>
    </div>
  </section>
</div> -->

<!-- *************** VER DOCS ANUALES ***************-->
<!-- <div id="container-verDocsAnuales" *ngIf="mostrarDocsAnuales">
  <section id="container-ver-docs">
    <div class="container-ver-docs">
      <form class="buscar" action="buscar">
        <input type="search" class="search" placeholder="Buscar" />
      </form>

      <table>
        <caption>
          <h2>Documentaciones guardadas por cada año</h2>
        </caption>

        <tr>
          <th>No. de oficio</th>
          <th>Fecha</th>
          <th>Encargado</th>
          <th>Direccion</th>
          <th>Documento</th>
        </tr>
        <tr>
          <td>49</td>
          <td>22/11/2022</td>
          <td>Lic. Mariana Perez</td>
          <td>Inversiones</td>
          <td>
            <a href="docs/Solicitud 250 correos Finanzas.pdf">documento1.pdf</a>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </section>
</div> -->

<!-- *************** INFORMACION ***************-->
<!-- <div id="info" *ngIf="mostrarInfo">
  <section>
    <div class="container-info">
      <h2>Secretaria Particular</h2>

      <form id="info-depto" name="info-depto">
        <div class="container-form-info">
          <div class="container-infouno">
            <div class="correo">
              <label for="correo">Correo electronico:</label>
              <input
                name="correo"
                id="correo"
                type="text"
                value="secretariaparti@sedeco.gob.mx"
              />
            </div>
            <div class="container-labels">
              <label for="encargado">Encargado:</label>
              <input
                name="encargado"
                id="encargado"
                type="text"
                value="Ing. Federico Borja"
              />
            </div>
          </div>

          <br />

          <div class="container-infodos">
            <label for="password">Contraseña:</label>
            <input
              name="password"
              id="password"
              type="password"
              value="4563363522"
            />
            <div class="container-labels">
              <div class="user">
                <label for="usuario">Usuario:</label>
                <input
                  name="usuario"
                  id="usuario"
                  type="text"
                  value="Secretaria particular"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="container-2">
          <button class="btn-edit-info" type="submit">
            Editar <i class="fa-solid fa-pen-to-square"></i>
          </button>

          <button class="btn-save-info" type="submit">
            Guardar <i class="fa-solid fa-floppy-disk"></i>
          </button>
        </div>
      </form>
    </div>
  </section>
</div> -->
<hr />
<footer class="footer">
  <img
    src="https://michoacan.gob.mx/corry/logos/sub/sedeco.png"
    alt="SEDECO"
    width="200px"
    height="90px"
  />
  <h5 class="my-4">SECRETARIA DE DESARROLLO ECONOMICO</h5>
</footer>
