<!-- *************** INFORMACION ***************-->
<div class="container" style="text-align: center">
  <h2>Secretaria Particular</h2>

  <form name="info-depto">
    <div class="row my-4">
      <div class="col">
        <input
          type="text"
          class="form-control"
          value="secretariaparti@sedeco.gob.mx"
          placeholder="Correo electrónico"
        />
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control"
          value="Ing. Federico Borja"
          placeholder="Encargado"
        />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <input
          type="password"
          class="form-control"
          value="736537837"
          placeholder="Contraseña"
        />
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control"
          value="Secretaria Particular"
          placeholder="Usuario"
        />
      </div>
    </div>

    <div class="col my-4">
      <button class="btn btn-success btn-lg mx-1">Guardar</button>
      <button class="btn btn-primary btn-lg">
        Editar <i class="fa-solid fa-pen-to-square"></i>
      </button>
    </div>
  </form>
</div>
