<!-- *************** INFORMACION ***************-->
<div class="container" style="text-align: center">
  <h2>(Usuario)</h2>

  <form name="info-depto">
    <div class="row my-4">
      <div class="col">
        <input
          class="input"
          type="text"
          class="form-control"
          value="(Correo electronico)"
          placeholder="Correo electrónico"
          required
          maxlength="30"
          [disabled]="deshabilitado"
        />
      </div>
      <div class="col">
        <input
          class="input"
          type="text"
          class="form-control"
          value="(Encargado)"
          placeholder="Encargado"
          maxlength="30"
          required
          [disabled]="deshabilitado"
        />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <input
          class="input"
          type="password"
          class="form-control"
          value="736537837"
          placeholder="Contraseña"
          required
          maxlength="30"
          [disabled]="deshabilitado"
        />
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control"
          value="(usuario)"
          placeholder="Usuario"
          disabled
        />
      </div>
    </div>

    <div class="col my-4">
      <div class="row">
        <button type="submit" class="btn btn-success btn-lg mx-1">
          Guardar
        </button>
      </div>
    </div>
    <input
      class="form-check-input"
      type="checkbox"
      id="edit"
      (change)="deshabilitado = !deshabilitado"
      style="font-size: 20px"
    />
    <label
      class="form-check-label mx-2"
      for="flexCheckDefault"
      style="font-size: 20px"
      >Editar
    </label>
  </form>
</div>
