<!-- HEADER -->
<header class="navbar navbar-primary header" style="background-color: #4a001f">
  <a routerLink="/info/usuario" class="mx-4"
    >Usuario <i class="fa-solid fa-user"></i
  ></a>
  <a href="#" class="mx-4"
    >Cerrar sesion <i class="fa-solid fa-power-off"></i
  ></a>
</header>

<nav class="menu-list"></nav>

<!-- MENU -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mx-3">
      <a
        class="nav-item nav-link menu"
        routerLink="inicio/usuario"
        routerLinkActive="active-link"
      >
        Inicio <i class="fa-solid fa-house"></i
        ><span class="sr-only">(current)</span></a
      >
      <a
        class="nav-item nav-link menu"
        routerLink="/turnar/usuario"
        routerLinkActive="active-link"
      >
        Turnar <i class="fa-solid fa-share"></i
      ></a>
      <a
        class="nav-item nav-link menu"
        routerLink="/generar/usuario"
        routerLinkActive="active-link"
        >Generar Doc <i class="fa-solid fa-file-pen"></i
      ></a>
      <a
        class="nav-item nav-link menu"
        routerLink="/documentos/usuario"
        routerLinkActive="active-link"
      >
        Ver documentos <i class="fa-solid fa-magnifying-glass"></i
      ></a>
    </div>
  </div>
  <img
    src="https://michoacan.gob.mx/corry/logos/escudo-Gray.png"
    alt="escudo"
    class="mx-3"
    width="50px"
    height="50px"
  />
</nav>
<router-outlet></router-outlet>
<hr />
<footer class="footer">
  <img
    src="https://michoacan.gob.mx/corry/logos/sub/sedeco.png"
    alt="SEDECO"
    width="200px"
    height="90px"
  />
  <div class="my-3">
    <h5>SECRETARIA DE DESARROLLO ECONOMICO</h5>
  </div>
</footer>
