<!-- *************** INICIO ***************-->

<h3 class="my-4" style="text-align: center" >INICIO</h3>
<div class="container my-4 contenedor-inicio" >
  <h3>Realizar registro:</h3>
  <div class="row mt-4">
    <div class="col-4" >
      <button id="circulo" routerLink="registro-secret">
        <i class="fa-solid fa-building" style="font-size: 40px"></i>
      </button>
      <h4 class="my-2">Secretario</h4>
    </div>

    <div class="col-4" >
      <button id="circulo" routerLink="registro-subsecret">
        <i class="fa-solid fa-pen" style="font-size: 40px"></i>
      </button>
      <h4 class="my-2">Subsecretaria</h4>
    </div>

    <div class="col-4">
      <button id="circulo" routerLink="registro-direc">
        <i class="fa-solid fa-book" style="font-size: 40px"></i>
      </button>
      <h4 class="my-2">Direccion</h4>
    </div>
  </div>
  <!-- col2 -->
  <div class="row mt-4" >
    
    <div class="col-4">
      <button id="circulo" routerLink="registro-subdirec">
        <i class="fa-solid fa-print" style="font-size: 40px"></i>
      </button>
      <h4 class="my-2">Subdireccion</h4>
    </div>
    <div class="col-4" routerLink="registro-depto">
      <button id="circulo">
        <i class="fa-solid fa-briefcase" style="font-size: 40px"></i>
      </button>
      <h4 class="my-2">Departamento</h4>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
