.btn-cerrar {
  background-color: #4a001f;
  color: white;
}
.btn-cerrar:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.btn-save {
  background-color: #4a001f;
  color: white;
}
.btn-save:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
