/* Diseño menu */
.menu-list {
  width: 80%;
  overflow: auto;
  margin: auto;
}

.menu button {
  color: gray;
  font-size: 18px;
  border: none;
  background-color: #d3d3d3;
  margin: 5px;
}

.menu button:hover {
  color: #4a001f;
  transition: 0.3s;
}

/* Diseño footer */
.footer {
  position: relative;
  text-align: center;
  top: 45px;
  width: 100%;
  overflow: auto;
  margin: auto;
}

.contenedor-salir {
  float: right;
  padding: 15px;
}

.botonInfo {
  border: none;
  background-color: #d3d3d3;
}

.contenedorMenuSelec {
  display: inline;
  position: relative;
  top: 30%;
  left: 3.3%;
}
.contenedorMenuSelec a {
  text-decoration: none;
  color: gray;
  font-size: 18px;
}
.contenedor-salir a h5 {
  font-size: 1rem;
}

.contenedor-oficios {
  width: 80%;
  height: 20%;
  overflow: auto;
  margin: auto;
}
.oficios {
  border: 1px solid black;
  border-radius: 5px;
  height: 100px;
  background-color: white;
}
#oficios-select {
  margin: 15px;
}
.contenedor-almacen {
  width: 80%;
  height: 20%;
  margin: auto;
  overflow: auto;
}
.almacen {
  border-radius: 5px;
  background-color: white;
  height: 290px;
}
.almacen {
  padding: 15px;
  border: 1px solid black;
  font-size: 16px;
}
.btn-cargar {
  margin: 15px;
  background-color: #4a001f;
  color: white;
  border-radius: 5px;
  width: 18%;
  height: 45px;
  cursor: pointer;
  position: relative;
  left: 70%;
  bottom: 10px;
}
.btn-cargar:hover {
  background-color: white;
  transition: 0.4s;
  border: 1px solid #4a001f;
  color: black;
}

.content-form1 {
  width: 90%;
  height: 230px;
  overflow: auto;
  margin: auto;
}
.escudo-sedeco {
  position: absolute;
  bottom: 30%;
  left: 67%;
}
.escudo-sedecoSP {
  position: absolute;
  bottom: 21%;
  left: 66%;
}
.content-form1 label {
  display: block;
}
.cerrar-sesion {
  color: red;
  border: none;
  background-color: #d3d3d3;
}
/* Diseño turnar documentos */
.contenedor-doc {
  width: 80%;
  height: 20%;
  margin: auto;
  overflow: auto;
  text-align: center;
}
.plantillas {
  background-color: white;
  width: 80%;
  height: 900px;
  margin: auto;
  overflow: auto;
}
.button-doc-save {
  margin: 15px;
  background-color: #4a001f;
  color: white;
  border-radius: 5px;
  width: 11%;
  height: 40px;
  cursor: pointer;
  position: relative;
  top: 8px;
}
.button-doc-deshacer {
  margin: 15px;
  background-color: #4a001f;
  color: white;
  border-radius: 5px;
  width: 11%;
  height: 40px;
  cursor: pointer;
}
.button-doc-save:hover {
  background-color: white;
  transition: 0.4s;
  border: 1px solid #4a001f;
  color: black;
}
.button-doc-deshacer:hover {
  background-color: red;
  transition: 0.4s;
  border: 1px solid #4a001f;
  color: white;
}

/* Diseño generar documentos */
.contenedor-doc {
  width: 80%;
  height: 20%;
  margin: auto;
  overflow: auto;
  text-align: center;
}
.plantillas {
  background-color: white;
  width: 80%;
  height: 900px;
  margin: auto;
  overflow: auto;
}
.button-doc-save {
  margin: 15px;
  background-color: #4a001f;
  color: white;
  border-radius: 5px;
  width: 11%;
  height: 40px;
  cursor: pointer;
}
.button-doc-deshacer {
  margin: 15px;
  background-color: #4a001f;
  color: white;
  border-radius: 5px;
  width: 11%;
  height: 40px;
  cursor: pointer;
}
.button-doc-save:hover {
  background-color: white;
  transition: 0.4s;
  border: 1px solid #4a001f;
  color: black;
}
.button-doc-deshacer:hover {
  background-color: red;
  transition: 0.4s;
  border: 1px solid #4a001f;
  color: white;
}

.contenedor-turnar-documentos {
  width: 80%;
  margin: auto;
  overflow: auto;
  height: 450px;
}
.contenedor-turnar-documentos h1 {
  text-align: center;
}
.contenedor-turnar-documentos2 {
  height: 280px;
  padding: 15px;
}
.contenedor-turnar-documentos2 .tipo-oficio {
  position: relative;
  left: 15px;
}
.doc {
  background-color: white;
  overflow: scroll;
  width: 100%;
  height: 100px;
}
.btn-turnar {
  background-color: #4a001f;
  color: white;
  border-radius: 5px;
  width: 18%;
  height: 45px;
  cursor: pointer;
  margin: 15px;
  position: relative;
  left: 80%;
}
.btn-turnar:hover {
  background-color: white;
  transition: 0.4s;
  border: 1px solid #4a001f;
  color: black;
}

/* Diseño ver documentos */
.btn-reg {
  margin: 15px;
  background-color: #4a001f;
  color: white;
  border-radius: 5px;
  width: 8%;
  height: 30px;
  cursor: pointer;
}
.btn-reg:hover {
  background-color: white;
  transition: 0.4s;
  border: 1px solid #4a001f;
  color: black;
}
.container-ver-docs {
  width: 80%;
  overflow: auto;
  margin: auto;
}
table {
  width: 100%;
  text-align: center;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}
caption {
  color: #4a001f;
}
.buscar .search {
  float: right;
}

/* Diseño informacion */
.container-info {
  width: 90%;
  overflow: auto;
  margin: auto;
  background-color: white;
  text-align: center;
  border-radius: 8px;
}
.container-1 {
  padding: 15px;
}
.container-2 {
  padding: 15px;
}
.btn-save-info {
  margin: 15px;
  background-color: #4a001f;
  color: white;
  border-radius: 5px;
  width: 18%;
  height: 45px;
  cursor: pointer;
  position: relative;
}
.btn-edit-info:hover {
  background-color: white;
  transition: 0.4s;
  border: 1px solid #4a001f;
  color: black;
}
.btn-save-info:hover {
  background-color: white;
  transition: 0.4s;
  border: 1px solid #4a001f;
  color: black;
}

.btn-edit:hover {
  background-color: white;
  transition: 0.4s;
  border: 1px solid #4a001f;
  color: black;
}
.btn-save:hover {
  background-color: white;
  transition: 0.4s;
  border: 1px solid #4a001f;
  color: black;
}

.container-labels {
  display: inline;
  position: relative;
  left: 10px;
}
.user {
  display: inline;
  position: relative;
  left: 18px;
}
.correo {
  display: inline;
  position: relative;
  right: 17px;
}
.container-form-info {
  width: 80%;
  overflow: auto;
  margin: auto;
  position: relative;
  right: 2.5%;
}
.btn-edit-info {
  margin: 15px;
  background-color: #4a001f;
  color: white;
  border-radius: 5px;
  width: 18%;
  height: 45px;
  cursor: pointer;
  position: relative;
}
