<div class="title">
  <h1>{{ time }}</h1>
</div>
<div class="contenedor">
  <h2>Secretaría de Desarrollo Económico</h2>
  <hr />
  <h3 style="font-weight: bolder">GESCO</h3>
  <br />

  <form id="login" name="login" method="post">
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Usuario</label>
      <input
        type="text"
        class="form-control user"
        id="formGroupExampleInput"
        name="usuario"
        required
        maxlength="25"
        placeholder="Ingresa el usuario"
      />
    </div>
    <div class="mb-3 content-pass">
      <label for="formGroupExampleInput2" class="form-label">Contraseña</label>
      <input
        [type]="password ? 'password' : 'text'"
        class="form-control password"
        id="formGroupExampleInput2"
        name="password"
        required
        maxlength="20"
        placeholder="Ingresa la contraseña"
      />
      <span
        type="button"
        class="view-pass"
        value="Mostrar"
        (click)="mostrarPass()"
        [innerHTML]="eye"
      ></span>
    </div>

    <div class="my-4">
      <button type="submit" class="btn btn btn-lg btn-sing">
        <i class="fa-solid fa-right-to-bracket"></i> Entrar
      </button>
    </div>
  </form>
</div>

<footer class="footer">
  <img
    src="https://michoacan.gob.mx/corry/logos/sub/sedeco.png"
    alt="SEDECO"
    width="200px"
    height="90px"
  />
</footer>
