h1 {
  animation: translate 1.5s ease-in;
}
@keyframes translate {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
.contenedor {
  max-width: 60%;
  height: 27rem;
  text-align: center;
  background-color: #fff;
  padding: 3rem;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 8px 1rem 1px gray;
  animation: transicion 1.5s ease;
}

@keyframes transicion {
  from {
    transform: translateY(45vh);
    opacity: 0.1;
  }
  to {
    transform: translateY(0);
  }
}
.password:invalid {
  border-color: #f00;
}
.password:valid {
  border-color: #0cde0c;
}
.user:invalid {
  border-color: #f00;
}
.user:valid {
  border-color: #0cde0c;
}
.container-login .container-inputs .elemento input[type="submit"]:hover {
  background-color: white;
  transition: 0.4s;
  border: 1px solid #4a001f;
  color: black;
}
.content-pass {
  position: relative;
}
.view-pass {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  border: none;
  background-color: transparent;
}

.btn-sing {
  text-align: center;
  color: white;
  width: 40%;
}
.btn-sing:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.footer {
  position: relative;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  animation: transicion 1.5s ease;
}
.btn {
  background-color: #4a001f;
  width: auto;
  font-size: 1rem;
}
.title {
  padding: 1rem;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 500px) {
  .contenedor {
    max-width: 90%;
    height: 29rem;
  }
  .view-pass {
    top: 2.5rem;
  }
}
