.content-pass {
  position: relative;
}
.verpass {
  position: absolute;
  top: 5px;
  right: 3%;
  border: none;
  background-color: transparent;
}
.btn-save-info {
  background-color: #4a001f;
  color: white;
}
.btn-save-info:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
