<!-- **********MENU REGISTRO SECRETARIO********** -->
<div>
  <div class="container">
    <button
      class="btn btn-sm btn-block my-4 btn-cerrar"
      style="background-color: #4a001f; color: white"
      routerLink="/inicio/admin"
    >
     &larr; Regresar
    </button>

    <!-- ********** Registro **********-->
    <h2 class="title-inicio" style="text-align: center">
      Realizar registro de Subdireccion
    </h2>
    <form action="registro-subdirec">
      <br />
      <div class="form-floating mb-3">
        <input
          name="nombre-subdirec"
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="Nombre de la Subdireccion"
          maxlength="50"
          required
        />
        <label for="floatingInput">Nombre de la Subdireccion:</label>
      </div>
      <div class="form-floating">
        <input
          name="responsable"
          type="text"
          class="form-control"
          id="floatingPassword"
          placeholder="Nombre del responsable"
          maxlength="45"
          required
        />
        <label for="floatingPassword">Nombre del responsable:</label>
      </div>
      <br />
      <div class="form-floating">
        <input
          name="correo"
          type="email"
          class="form-control"
          id="floatingPassword"
          placeholder="Correo electrónico"
          maxlength="40"
          required
        />
        <label for="floatingPassword">Correo electrónico:</label>
      </div>
      <br />
      <div class="form-floating">
        <input
          name="password"
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Contraseña"
          maxlength="20"
          required
        />
        <label for="floatingPassword">Contraseña:</label>
      </div>
      <br />
      <div class="form-floating">
        <input
          name="confirm-pass"
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Confirmar contraseña"
          maxlength="20"
          required
        />
        <label for="floatingPassword">Confirmar contraseña:</label>
      </div>
      <div class="row">
        <button
          type="submit"
          class="btn btn-lg btn-block my-4"
          style="background-color: #4a001f; color: white"
        >
          Guardar <i class="fa-solid fa-floppy-disk"></i>
        </button>
      </div>
    </form>
    <router-outlet></router-outlet>
  </div>
</div>
