<div class="container-login">
  <h1>Secretaria de desarrollo economico</h1>
  <h2>GESCO</h2>
  <hr />
  <br />
  <div class="container-inputs">
    <form id="login" name="login" method="post">
      <div class="elemento">
        <label for="usuario">Usuario</label>
        <input
          type="text"
          id="usuario"
          name="usuario"
          required="true"
          placeholder="Ingresa el usuario"
        />
      </div>
      <div class="elemento">
        <label for="password">Contraseña</label>
        <input
          type="password"
          id="password"
          name="password"
          required="true"
          placeholder="Ingresa la contraseña"
        />
      </div>
      <div class="elemento">
        <input type="submit" value="Entrar" />
      </div>
    </form>
  </div>
</div>

<footer class="footer">
  <img
    src="https://michoacan.gob.mx/corry/logos/sub/sedeco.png"
    alt="SEDECO"
    width="200px"
    height="90px"
  />
  <h5>SECRETARIA DE DESARROLLO ECONOMICO</h5>
</footer>

<!-- <app-login></app-login> -->
<!-- <app-departamentos></app-departamentos> -->
<!-- <app-subdireccion></app-subdireccion> -->
<!-- <app-direccion></app-direccion> -->
<!-- <app-subsecretaria></app-subsecretaria> -->
<!-- <app-secret-particular></app-secret-particular> -->
<!-- <app-administrador></app-administrador> -->
