<!-- *************** VER DOCS ANUALES ***************-->
<div class="container">
  <button class="btn btn my-4 regresar" (click)="regresar()">
    <i class="fa-solid fa-arrow-left"></i> Regresar
  </button>
  <div class="input-group rounded">
    <input
      type="search"
      class="form-control rounded"
      placeholder="Buscar"
      aria-label="Search"
      aria-describedby="search-addon"
    />
    <span class="input-group-text border-0" id="search-addon">
      <i class="fas fa-search"></i>
    </span>
  </div>

  <div class="container my-4">
    <h3>Documentaciones guardadas por año</h3>
  </div>
  <table class="table table-light my-4">
    <thead>
      <tr>
        <th scope="col">No. Oficio</th>
        <th scope="col">Tipo de oficio</th>
        <th scope="col">Titular</th>
        <th scope="col">Dependencia</th>
        <th scope="col">Documento</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Circular</td>
        <td>Ing. Mariana Juarez</td>
        <td>Departamento Servicios</td>
        <td>documento1.pdf</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Circular</td>
        <td>Ing. Mariana Juarez</td>
        <td>Departamento Servicios</td>
        <td>documento1.pdf</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Circular</td>
        <td>Ing. Mariana Juarez</td>
        <td>Departamento Servicios</td>
        <td>documento1.pdf</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Circular</td>
        <td>Ing. Mariana Juarez</td>
        <td>Departamento Servicios</td>
        <td>documento1.pdf</td>
      </tr>
    </tbody>
  </table>
</div>
