.modal-window {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0008;
  z-index: 998;
}
.registro-flotante {
  position: fixed;
  z-index: 999;
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 25px;
  -webkit-box-shadow: 0px 0px 45px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 45px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 45px -6px rgba(0, 0, 0, 0.75);
}
.registro-flotante h2 {
  text-align: center;
}
.animation {
  animation: transicion 0.6s ease;
}

@keyframes transicion {
  from {
    transform: translateZ(100%);
    opacity: 0.1;
  }
  to {
    transform: translateZ(0);
  }
}
.btn-cerrar {
  background-color: #4a001f;
  color: white;
  position: absolute;
  right: 15px;
  top: 0;
  transition: background-color 300ms linear, transform 300ms ease-in-out;
  font-size: 16px;
}
.btn-cerrar:hover {
  background-color: red;
  color: white;
  transition: 0.5s ease;
  font-size: 16px;
  transform: scale(1.2);
}
.btn-save {
  background-color: #4a001f;
  color: white;
}
.btn-save:hover {
  background-color: white;
  color: black;
  border: 1px solid #4a001f;
  transition: 0.5s ease;
}
.confirm {
  position: absolute;
  bottom: 8px;
  left: 16%;
}
.btn-docs {
  background-color: #4a001f;
  color: white;
}
.btn-docs:hover {
  background-color: white;
  border: 1px solid #4a001f;
  color: black;
}
