button {
  overflow: auto;
  margin: auto;
}
.registro-flotante {
  position: absolute;
  left: 34%;
  z-index: 999;
  background-color: whitesmoke;
  border-radius: 8px;
  /* display: none; */
}
.btn-cerrar {
  background-color: #4a001f;
  color: white;
  float: right;
  position: absolute;
  right: 0%;
  top: 0;
}
