
.registro-flotante {
  position: fixed;
  left: 34%;
  top: 25%;
  z-index: 999;
  background-color: #F8F9FA;
  border-radius: 10px;
  padding: 25px;
  -webkit-box-shadow: 0px 0px 45px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 45px -6px rgba(0,0,0,0.75);
box-shadow: 0px 0px 45px -6px rgba(0,0,0,0.75);
}
.btn-cerrar {
  background-color: #4a001f;
  color: white;
  position: absolute;
  right: 10px;
  top: 0;
}

